body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: blanchedalmond;
}

header {
    text-align: center;
}

.recipe-details {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
}

ul, ol {
    padding-left: 20px;
}
